body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
header {
  background: #1c1d25;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 28px;
}
.container {
  max-width: 84rem;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: column-reverse;
}

.navbar-link {
  color: white;
  padding: 8px 5px;
  border-radius: 4px;
}
.navbar-link:hover {
  background-color: #1c1d25;
  border-radius: 10px;
}
#nav-list {
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-around;
  font-size: 30px;
}
#nav-list.show {
  display: block;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  color: white;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: rgb(4, 186, 186);
  font-weight: 300;
  font-size: 30px;
}

.button:hover {
  background-color: #04a5a5;
}
.button:active {
  background-color: grey;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}
.socials {
  padding-bottom: 150px;
  margin-right: 30px;
}
.social-logo {
  height: 50px;
  margin: 20px;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}
.text-center {
  text-align: center;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 50px;
}
.project-card {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgb(176, 173, 173);
  padding: 1rem;
}
.project-container {
  gap: 30px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.project-image {
  width: 150px;
  margin-top: 25px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.project-link {
  color: rgb(4, 186, 186);
  display: block;
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    margin: 0;
    background-color: #04baba;
    padding-bottom: 40px;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background: #04baba;
  }
}
